IdleCombos.ahk.bak
*.exe

# SETTINGS
idlecombosettings.json
userdetails.json

# LOGS
idlecombolog.txt
eos_loader_log.txt
blacksmithlog.json
bountylog.json
chestopenlog.json
journal.json
redeemcodelog.json
redeemcodelist.json

# TEST OUTPUT
tests/junit.xml
